<div class="nav-container">
    <form class="search-container" action="/" method="GET">
        <div >
            <label forhtml="searchKey">Search for headline</label>
            <input id="search-input" class="search-input" type="text" placeholder="Search the FT"
                name="searchKey" value="{{searchKey}}" />
        </div>
        <button>Search</button>
    </form>
    <div>
        <h1>Financial Times</h1>
    </div>
</div>