body {
  background-color: rgb(250, 238, 229);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-container {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(250, 238, 229);
}
.search-container {
  display: flex;
}

.select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.select-per-page {
  width: 100px;
  height: 30px;
  margin: 0 15px;
}

.search-input {
  padding: 8px;
  width: 50%;
}

.head-lines {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.headLine {
  width: 100%;
  background-color: rgb(241, 227, 216);
  margin: 10px 5px;
  padding: 10px;
  border-radius: 5px;
}

.publish-date{
  text-align: right;
}

.pagination-container {
  font-size: large;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
  justify-content: space-around;
  width: 25%;
  list-style-type: none;
}

.pagination-element {
  border: solid 0.5px black;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: lightgray;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .headLine {
    width: 40%;
  }
}

@media only screen and (min-width: 900px) {
  .headLine {
    width: 30%;
  }
  .nav-container {
    flex-direction: row-reverse;
  }
  .head-lines {
    margin-top: 100px;
  }
  .nav-container{
    height: 50px;
  }
}

@media only screen and (min-width: 1400px) {
  .headLine {
    width: 20%;
  }
}
